@font-face {
  font-family: MinionPro-Regular;
  src: url(MinionPro-Regular.otf);
}

@font-face {
  font-family: Dustismo_Roman_Bold;
  src: url(Dustismo_Roman_Bold.ttf);
}


*{
	margin: 0px;
	padding: 0px;
}

/*li, */.rectangle > header > a{
	font-family: MinionPro-Regular,sans-serif;
	color: #efefef;
	text-decoration: none;
	margin-left: 15em;
}
span{
	float: right;
}

/*.email_icon{
	height: 15px;
}

.pemail{
	font-family: MinionPro-Regular,sans-serif; 
	font-weight: lighter;
	font-size: 13px;
	color: #efefef;
	text-decoration: none;
	height: 10px;
	transition: all 0.3s ease 0s;
}
.pemail:hover{
	color: #EDA94F;
}

.logo{
	width:23px;
	height: 16px;
	cursor: pointer;
	margin-right: 5px;
}
*/
/*header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 5% 0 3%;
	z-index: 1;
}*/

/*.nav_links{
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0 15px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: #EDA94F;
}
*/
.rectangle{
	 height: 7%;
     width: 100%;
     background-color: #000000;
     position: absolute;
     z-index: 1;
     position: fixed;
     margin-bottom: 100px;
}

.college_name{
	font-size: 32px;
	padding-left: 6%;

}

.signupForm {
	padding-top: 3.5em;
	font-family: Dustismo_Roman_Bold;
}

.signup{
	margin-left: 2.25%;
	margin-right: 41.75%;
	background-color: #EAE8E8;
	padding-top: 1%;
	padding-left: 1.5%;
	overflow: hidden;
	border-bottom-right-radius: 70px;
	border-bottom-left-radius: 70px;
}

.title{
	margin-left: 2.25%;
	margin-right: 41.75%;
	background-color: black;
	color: white;
	text-align: center;
	padding: .5em;
	border-top-right-radius: 100px;
	border-top-left-radius: 100px;

}

label{
	margin: .5em;
	margin-left: 15px; 
}

input, select{
	margin: .5em;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-family: Dustismo_Roman_Bold;
	width: 90%;
}

input[type=submit]{
	margin-bottom: 0;
	background-color: #EDA94F;
	font-family: Dustismo_Roman_Bold;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	width: 95%;
	border-radius: 10px;
}

input[type=submit]:hover{
	background-color: #c48531;
	/*background-color: black;
	color: #EDA94F;*/
}

select{
	cursor: pointer;
}

.block{
	overflow: hidden;
}

.block > div{
	float: left;
	width: 45%;
}

.lastname, .confirm, .year{
	margin-left: 4.5%;
}

.block > div > select{
	width: 102.5%;
}

.picture{
	width: auto;
	height: 36em;
	float: right;
	margin-right: 3.5%;
	margin-top: -.45em;
}

.picture > img {
    max-width: 100%;
    max-height: 100%;
}

#passAlert, #emailAlert{
	font-size: .75em;
	color: red;
	margin: 1%;
	padding-left: .5%;
}

.signup > p{
	padding: .6em;
	margin-left: 21.5em;
	font-size: .8em;
}

.signup > p > a{
	transition: all 0.3s ease 0s;
	color: #0004ff;
	/*text-decoration: none;*/
}

/*.signup > p > a:hover{
	text-decoration: underline;
}*/