@font-face {
    font-family: MinionPro-Regular;
    src: url(../Fonts/MinionPro-Regular.otf);
  }
  
  *{
      margin: 0px;
      padding: 0px;
  }
  body{
    background-color: #efefef;
  }
main{
    display: flex;
    justify-content: space-around;
    
}
main img{
    max-width:640px;
    max-height: 640px;
    flex-shrink: 1;
}
form{
    align-self: center;
    flex-basis: 500px;
    max-width: 600px;
    margin: 25px;
    margin-top: 100px;
    font-family: distomio roman;
}
legend{
    text-align: center;
    background-color: black;
    font-size: x-large;
    color: white;
    padding: 20px 0px;
    display: block;
    width: 100%;
    border-top-left-radius:70px;
    border-top-right-radius:70px;
}
fieldset{
    border: 0px solid #efefef;
    background-color: #E9E7E7;
    width: 100%;
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.form-control{
  margin-top:20px ;
  margin-left: 10%;
  width: 90%;
}
.form-control input{
    border: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    width: 90%;
    border-radius: 20px;
    font-family: MinionPro-Regular;
}
.form-control label{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}
input[type=submit]{
   
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 72px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #EDA94F;
    font-size: 32px;
    font-family: MinionPro-Regular;
    transition: all .5s ;
}
input[type=submit]:hover{
   color:#EDA94F;
   background-color: black;
   
}
#to-register{
    font-size: 18px;
   text-align: center;
   margin-bottom: 10px;
}
#to-register a{
    text-decoration: none;
    color:hsl(0, 4%, 40%);
    transition: all .5s;
}
#to-register a:hover{
    text-decoration: underline;
    color:#0004ff;
}


/* 

footer{
    max-height: 400px;
    font-size: 16px;
    padding: 20px;
    display: flex;
    color:#fff;
    justify-content: space-between;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
}
#col-1{
    flex-basis: 300px;
    
}
#col-2{
    text-align: center;
    flex-basis: 140px;
}
#col-2 ul{
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
}
#col-2 ul li{
    border-bottom-style: dashed;  
}
#col-3{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#col-4{
    flex-basis: 400px;
}
#col-4 img{
    height: 150px;
    margin-top: 10px;
    border-radius: 32px;
} */